<html>
<head>
    {% load static %}
    <title>Digit Recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'home' %}" style="position: relative;left: 80px;">Digit Recognition</a>
</nav>
    <div class="container" style="position: relative;top: 25px;">

          <!--<form method="post" enctype="multipart/form-data">-->
            <!--{% csrf_token %}-->
            <!--<input type="file" name="image">-->
            <!--<button type="submit">Upload</button>-->
          <!--</form>-->



      <table class="table table-bordered" style="position: relative;top: 25px;">
        <thead>
          <tr>
<!--            <th>S.no</th>-->
<!--            <th>Images</th>-->
            <th>Extracted Text</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><pre>{{result}}</pre></td>
        </tr>
<!--        {% for i in result %}-->
<!--        <tr style="">-->
<!--            <td>{{i.0}}</td>-->
<!--            <td>-->
<!--                <img src="media/cropedimages/input_images/{{i.1}}" alt="No File Chosen" width="300" height="150">-->
<!--            </td>-->
<!--            <td>{{i.2}}</td>-->
<!--          </tr>-->
<!--        {% endfor %}-->

        </tbody>
      </table>
    </div>


</body>
</html>